body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: rgb(254, 254, 254);
    text-align: center;
    font-size: 200px;
    font-family: 'Trebuchet MS', sans-serif;
}

h2 {
    color: rgb(254, 254, 254);
    text-align: center;
    font-size: 200px;
    font-family: 'Trebuchet MS', sans-serif;
}

h2:hover {
    color: rgb(152, 152, 152);
}

p {
    color: rgb(207, 207, 207);
}

button {
    border: none;
    Color: rgba(218, 218, 218, 0.439);
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background: transparent;
    text-align: center;
}

button:hover {
    Color: rgb(255, 254, 254);
}

h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', sans-serif;
}

.container {
    display: inline-block;
}

.typed-out {
    Color: rgb(255, 255, 255);
    overflow: hidden;
    border-right: .15em solid rgb(255, 255, 255);
    white-space: nowrap;
    animation: typing 2.5s steps(50, end) forwards;
    font-size: 100px;
    width: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

.button-one {
    background: #edf000;
}

.button-two {
    background: #f15640;
}

.button-three {
    background: #27c9b8;
}

.button-four {
    background: #000000;
    text-align: center;
    font-size: 100px;
    color: rgb(255, 255, 255);
}

.button-one,
.button-two,
.button-three {
    color: #1d1d1d;
    /* text color */
    display: inline-block;
    border-radius: 0;
    /* square corners */
    padding: 10px 18px;
    /* space around text */
    text-transform: uppercase;
    /* all capital letters */
    font-weight: 700;
    letter-spacing: 1px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

.button-one:hover,
.button-two:hover,
.button-three:hover {
    background: #fff;
}