body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: rgb(254, 254, 254);
    text-align: center;
    font-size: 200px;
    font-family: 'Trebuchet MS', sans-serif;
}

h2 {
    color: rgb(254, 254, 254);
    text-align: center;
    font-size: 80px;
    font-family: 'Trebuchet MS', sans-serif;
}

p {
    color: rgb(207, 207, 207);
}

button {
    border: none;
    Color: rgba(218, 218, 218, 0.439);
    padding: 10px 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background: transparent;
    text-align: center;
}

button:hover {
    Color: rgb(255, 254, 254);
}

h3 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 50px;
    font-family: 'Trebuchet MS', sans-serif;
}

h3:hover {
    Color: rgb(152, 152, 152);
}

.container {
    display: inline-block;
}

.typed-out {
    Color: rgb(255, 255, 255);
    overflow: hidden;
    border-right: .15em solid rgb(255, 255, 255);
    white-space: nowrap;
    animation: typing 2.5s steps(50, end) forwards;
    font-size: 1.6rem;
    width: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}